<% if user_signed_in? %>
  <h1>Bienvenido <% current_user.name %></h1>
  <%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
    <%= date %>
  <% end %>
<% else %>

<% end %>