.izq{
  padding-left: 10px;
}
.text-left{
  text-align: left;
}
.btnpad{
  padding-top: 10px;
  padding-left: 40px;
}
.btnpad1{
  padding-top: 10px;
  padding-left: 30px;
}
.imgfull{
	padding-left: 90px;
	height: 520px;
	width: 1276px;
}
.imgpe{
	padding-left: 70px;
	height: 170px;
	width: 270px;
}
